# Setup debug output

per uart_st uart3 pin_d08 pin_none dma_1_4 dma_none
mod - stdout uart_st

# Setup SD card

#        nucleo   stm32f756zg
# cs   = d10      pd14
# sck  = d13      pa5
# mosi = d11      pa7 (b05 if SB121 SB122 is swapped)
# miso = d12      pa6

per sdcard_cs gpio_d14 pin_d14
per sdcard_spi spi1 pin_a05 pin_b05 pin_a06 dma_none dma_none

mod ext sdcard sdcard_spi sdcard_cs

inc /ext/boot.cfg

